*__pycache__
*.ipynb_checkpoints
*.csv
*.pt
projects/language_model
projects/computer_vision/models
projects/experimental
projects/language_model
.gitattributes
.idea
ts.py
pyproject.toml
Pipfile
Pipfile.lock
poetry.lock
.venv
.torch
in_progress
ciencia-de-dados-e-analytics
projects